body, ul, li, p{
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-size: 1.2rem;
    font-family: 'Cinzel', serif;
}

.logo{
    width: 200px;
}

a{
    text-decoration: none;
    color: white;
}

.header{
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.menu{
    display: flex;
}

.menu li a{
    display: block;
    margin-left: 10px;

}

.menu li a{
    display: block;
    padding: 10px;
    background-color: #5e17eb;
}

.flex{
    min-height: 100vh;
    background-color: darkgray;
    display: flex;
    flex-wrap: wrap;
}

.imagem{
    width: 400px;
    height: auto;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgb(0, 0, 0,0.767);
}

.legenda{
    text-align: center;
    padding: 5px;
}

.texto{
    width: 100vh;
    padding: 10px;
    text-align: justify;
    display: flex;
    align-items: center;
}
 
.item{
    display: block;
    margin: 10px;
}

.paragrafo{
    padding: 10px;
    text-align: justify;
}

.footer{
    background-color: rgb(241, 234, 234);
    padding: 15px;
    color: black;
    font-size: 30px;
}

.redesSociais{
    display: flex;
    justify-content: center;
    align-items: center;
}
.redelogo{
    margin: 10px;
    padding: 5px;
    width: 30px;
    height: auto;
}